<html>
    <head>
        <Title>Home</Title>
    </head>
    <body>
        <a href="/positions"><button>Positions</button></a>
        <a href="/exams/types"><button>Exam Types</button></a>
        <a href="/exams/questions"><button>Questions</button></a>
        <a href="/logout"><button>Logout</button></a>
    </body>
</html>
