<!-- <h1>Register</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="name" id="name">
            <input type="email" name="email" id="email">
            <input type="password" name="password" id="password">
            <input type="number" min="18" name="age" id="age">
            <input type="text" name="phone" id="phone">
            <input type="submit" value="submit">
        </form> -->
<%- include('../layouts/header'); -%>
<div class="page-header header-filter"
    style="background-image: url('/assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login" style="height: 100%;">
                    <form class="form" method="post" action="" onsubmit="return validate();" id="register"
                        name="register">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Register</h4>
                        </div>
                        <p class="description text-center">Already a memeber?
                            <a href="/login">Login here</a>
                        </p>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">face</i>
                                    </span>
                                </div>
                                <input name="name" id="name" type="text" class="form-control" placeholder="Name"
                                    value="">
                            </div>
                            <div class="input-group emailDiv">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">mail</i>
                                    </span>
                                </div>
                                <input name="email" id="email" type="email" class="form-control" placeholder="Email"
                                    value="">

                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                </div>
                                <input name="password" id="password" type="password" class="form-control"
                                    placeholder="Password">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">fingerprint</i>
                                    </span>
                                </div>
                                <input name="age" id="age" type="number" min="18" class="form-control"
                                    placeholder="Age" value="">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">fingerprint</i>
                                    </span>
                                </div>
                                <input name="phone" id="phone" type="text" class="form-control"
                                    placeholder="Phone Number" value="">
                            </div>
                        </div>
                        <div class="footer text-center">
                            <a href="" onclick=""><button type="submit"
                                    class="btn btn-primary btn-link btn-wd btn-lg">Get Started</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% if (locals.error) { %>
<script>alert('<%= error %>')</script>
<% } %>

<script>

    $('#email').focusout(function() {
      console.log($(this).val());
      $.ajax({
                 type: 'GET',
                 url: '/registerCheck/' + $(this).val() + '/',
                 // async: false,
                 success: function(data){
                     //location.reload();

                    $p = $('#p');
                     if(data === '-1'){
                     if (!jQuery.contains(document, $p[0]))
                         //Element is detached
                         $(".emailDiv").append('<p id="p" style=" color: red;">Already Taken</p>');
                     }
                    else
                      $("#p").remove();
                 }
      });

});


    function validate() {
        if (document.forms["register"]["name"].value == "" ||
            document.forms["register"]["email"].value == "" ||
            document.forms["register"]["password"].value == "" ||
            document.forms["register"]["age"].value == "" ||
            document.forms["register"]["password"].value == "") {
            alert('Please fill out all fields.');
            return false;
        }
        if (!validateName(document.forms["register"]["name"].value)) {
            alert('Please enter a valid name.');
            return false;
        }
        else if (!validateEmail(document.forms["register"]["email"].value)) {
            alert('Please enter a valid email.');
            return false;
        }
        else {
            document.register.submit();
            return true;
        }
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    function validateName(name) {
        var re = /^[a-zA-Z0-9]+$/;
        return re.test(String(name).toLowerCase());
    }

    document.onkeydown = function (evt) {
        var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
        if (keyCode == 13) {
            return validate();
        }
    }
</script>
<%- include('../layouts/footer'); -%>
